<a href="https://colab.research.google.com/github/shadowhunterMHR/Programming-For-AI/blob/main/Lab4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab Tasks:

## 1.	Access List Items:
*   Create a list of fruits.
*   Print the first and last items of the list.

In [15]:
fruits = ["apple", "banana", "watermelon", "date"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: apple
Last item: date

## 2.	Change List Items:
*   Create a list of colors.
*   Change the second item in the list to "blue".

In [16]:
colors = ["red", "green", "yellow", "orange"]
colors[1] = "blue"
print(colors)

['red', 'blue', 'yellow', 'orange']

## 3.	Add List Items:
*   Create a list of numbers.
*   Add the number 10 at the end of the list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print(numbers)

## 4.	Remove List Items:
*   Create a list of animals.
*   Remove the third item from the list.

In [17]:
animals = ["lion", "tiger", "panther", "horse"]
del animals[2]
print(animals)

['lion', 'tiger', 'horse']

## 5.	Loop Lists:
*   Create a list of cities
*   Loop through the list and print each city

In [18]:
cities = ["Zurich", "Geneva", "Berlin", "Tokyo"]
for city in cities:
    print(city)

Zurich
Geneva
Berlin
Tokyo

## 6.	List Comprehension:
*   Create a list of numbers from 1 to 10.
*   Use list comprehension to create a new list containing the square of each number

In [6]:
numbers = [i for i in range(1, 11)]
squares = [x**2 for x in numbers]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 7.	Sort Lists:

*   Create a list of names
*   Sort the list alphabetically

In [19]:
names = ["Hamza", "Qasim", "Momin", "Moiz"]
names.sort()
print(names)

['Hamza', 'Moiz', 'Momin', 'Qasim']

##  8.	Copy Lists:


*   Create a list of fruits
*   Copy the list into a new list

In [20]:
fruits = ["apple", "banana", "watermelon", "date"]
fruits_copy = fruits.copy()
print(fruits_copy)

['apple', 'banana', 'watermelon', 'date']

## 9.	Join Lists:
*   Create two lists of numbers
*   Join the two lists into a single list

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6]

## 10.	List Methods:
*   Create a list of fruits.
*   Use the append() method to add a new fruit to the list
*   Use the pop() method to remove the last fruit from the list

In [24]:
fruits = ["apple", "banana", "watermelon", "date"]
fruits.append("grape")
print(fruits)
fruits.pop()
print(fruits)

['apple', 'banana', 'watermelon', 'date', 'grape']
['apple', 'banana', 'watermelon', 'date']

## 11.	Combining Lists and List Comprehension:
*   Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10
*   Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print(sum_list)

[7, 9, 11, 13, 15]

## 12.	Filtering and Sorting:
*   Create a list of numbers
*   Use list comprehension to create a new list containing only the even numbers from the original list
*   Sort the new list in descending order

In [12]:
numbers = [23, 14, 56, 78, 33, 47, 90]
even_numbers = [num for num in numbers if num % 2 == 0]
even_numbers.sort(reverse=True)
print(even_numbers)

[90, 78, 56, 14]

## 13.	List Slicing and Reversing:


*   Create a list of numbers from 1 to 10
*   Use list slicing to create a new list containing only the even numbers from the original list, in reverse order

In [13]:
numbers = list(range(1, 11))
even_numbers_reverse = numbers[::-2]
print(even_numbers_reverse)

[10, 8, 6, 4, 2]

## 14.	Combining Lists and List Methods:


*   Create two lists, one containing even numbers and another containing odd numbers
*   Use list methods to combine the two lists into a single list, alternating between even and odd numbers

In [14]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]