<a href="https://colab.research.google.com/github/shadowhunterMHR/Programming-For-AI/blob/main/Lab_1_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Variables in Python**

##  **Task 1:**
### Differentiate between assignment operator and equality operator.

## Answer:
•	The assignment operator (=) is used to assign a value to a variable. For example, x = 5 assigns the value 5 to the variable x.

•	The equality operator (==) is used to compare two values. It returns True if the values are equal, and False otherwise. For example, x == 5 checks if the value of x is equal to 5.

## **TASK 2:**
### Explore all kinds data types of variables. And  write code for each datatype.
*   Integer Variable
*   Floating-point Variable
*   String Varibale
*   Boolean Variable

## Answer:

In [ ]:
# Integer variable
int_var = 10

# Floating-point variable
float_var = 3.14

# String variable
str_var = "Muhammad Hamza Rashid"

# Boolean variable
bool_var = True


print(int_var)
print(float_var)
print(str_var)
print(bool_var)

10
3.14
Muhammad Hamza Rashid
True

## **TASK 3:**
### Explain the rules for variables name and use different variables name including special characters, numbers etc.

## Answer:
* Variable names must start with a letter (a-z, A-Z) or an underscore (_).
* The rest of the variable name can consist of letters, numbers, or underscores.
* Variable names are case-sensitive.
* Variable names cannot be Python keywords.

In [ ]:
my_variable = 42
_var_2 = "hello"
var3 = True

print(my_variable)
print(_var_2)
print(var3)

42
hello
True

## **TASK 4:**
### Declare and initialize multiple variables in a single line. Single variable with multiple values, multiple variables with single values. Each having at least two examples.

## Answer:

In [ ]:
# Single variable with multiple values
x = 1, 2, 3

# Multiple variables with single values
a = b = 10

print(x)
print(a, b)

(1, 2, 3)
10 10

## **TASK 5:**
### Perform arithmetic operations on integers and floating-point numbers.
*   Adding, Subtracting, Multiplication and dividing two integer variables.
*   Adding, Subtracting, Multiplication and dividing floating-point variables

## Answer:

In [ ]:
# Integers
int_val_1 = 10
int_val_2 = 5
add = int_val_1 + int_val_2
sub = int_val_1 - int_val_2
multiply = int_val_1 * int_val_2
division = int_val_1 / int_val_2

print("Integer Operations\nAddition: ", add, "\nSubtraction: ", sub, "\nMutilplication: ", multiply, "\nDivision: ", division)


# Floats
fl_val_1 = 3.5
fl_val_2 = 1.5
add = fl_val_1 + fl_val_2
sub = fl_val_1 - fl_val_2
multiply = fl_val_1 * fl_val_2
division = fl_val_1 / fl_val_2

print("\n\nFloat Operations\nAddition: ", add, "\nSubtraction: ", sub, "\nMutilplication: ", multiply, "\nDivision: ", division)

Integer Operations
Addition:  15
Subtraction:  5
Mutilplication:  50
Division:  2.0


Float Operations
Addition:  5.0
Subtraction:  2.0
Mutilplication:  5.25
Division:  2.3333333333333335

## **TASK 6:**
### A string literal is a sequence of characters enclosed in quotes. In Python, we can use either single quotes (‘…’) or double quotes (“…”) to create a string.   
*   Using single quotes
*   Using double quotes
*   Using double quotes when the string contains a single quote
*   Using single quotes when the string contains double quotes


## Answer:

In [ ]:
# Using single quotes
single_quoted = 'Muhammad Hamza Rashid'

# Using double quotes
double_quoted = "B22F0280AI075"

# Using double quotes when the string contains a single quote
double_with_single = "I'm using Colaboratory"

# Using single quotes when the string contains double quotes
single_with_double = 'He said, "Hello"'

print(single_quoted + "\n" + double_quoted + "\n" + double_with_single + "\n" + single_with_double)

Muhammad Hamza Rashid
B22F0280AI075
I'm using Colaboratory
He said, "Hello"

## **TASK 7:**
### The print() function is a built-in function in Python that allows you to output variables and other data to the console.
*   Example of using the print() function to output a variable
*   Example of outputting multiple variables with print()
*   Example of using f-strings to format output
*   Example of using f-strings to manipulate variables in output

## Answer:

In [ ]:
# Example of using the print() function to output a variable
x = 10
print(x)

# Example of outputting multiple variables with print()
y = 20
print(x, y)

# Example of using f-strings to format output
name = "Muhammad Hamza Rashid"
age = 20
print(f"My name is {name} and I am {age} years old.")

# Example of using f-strings to manipulate variables in output
num1 = 10
num2 = 20
print(f"The sum of {num1} and {num2} is {num1 + num2}.")

10
10 20
My name is Muhammad Hamza Rashid and I am 20 years old.
The sum of 10 and 20 is 30.