<a href="https://colab.research.google.com/github/shadowhunterMHR/Programming-For-AI/blob/main/Lab_2%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 2 & 3**

##  **Task 1:**
### Print at least 3 types of data type.

## Answer

### **Int**

In [ ]:
ai = int(26)
bi = int(34)
ci = int(20)
di = int(50)
ei = int(40)

### Float

In [ ]:
af = float(20.9)
bf = float(30.8)
cf = float(25.4)
df = float(19.1)
ef = float(30.7)

### Complex

In [ ]:
ac = 2 + 12j
bc = 3 + 23j
cc = 6 + 34j
dc = 4 + 45j
ec = 8 + 67j

##  **Task 2:**
### Write example of type conversion for each.

## Answer

In [ ]:
# integer Datatypes
ai = int(26)
bi = int(34)
ci = int(20)
di = int(50)
ei = int(40)

# Float Datatypes
af = float(20.9)
bf = float(30.8)
cf = float(25.4)
df = float(19.1)
ef = float(30.7)

#Complex Datatypes
ac = 2 + 12j
bc = 3 + 23j
cc = 6 + 34j
dc = 4 + 45j
ec = 8 + 67j

# Int to Float
print ("Integer Datatypes: ")
print (type(ai))
print (type(bi))
print (type(ci))
print (type(di))
print (type(ei))

print ("\nInteger to Float: ")
print (type(float(ai)))
print (type(float(bi)))
print (type(float(ci)))
print (type(float(di)))
print (type(float(ei)))

# Float to int
print ("\nFloat Datatypes: ")
print (type(af))
print (type(bf))
print (type(cf))
print (type(df))
print (type(ef))

print ("\nFloat to Int: ")
print (type(int(af)))
print (type(int(bf)))
print (type(int(cf)))
print (type(int(df)))
print (type(int(ef)))

Integer Datatypes:
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

Integer to Float:
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Float Datatypes:
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

Float to Int:
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

##  **Task 3:**
### Assign multiple strings to single variable with your name , registration number, program , semester etc.

## Answer

In [ ]:
student_info = {
    "name": "Muhammad Hamza Rashid",
    "registration_number": "B22F0280AI075",
    "program": "BS Artificial Intelligence",
    "semester": "Semester 4"
}

# Accessing individual pieces of information
print("Name:", student_info["name"])
print("Registration Number:", student_info["registration_number"])
print("Program:", student_info["program"])
print("Semester:", student_info["semester"])

Name: Muhammad Hamza Rashid
Registration Number: B22F0280AI075
Program: BS Artificial Intelligence
Semester: Semester 4

##  **Task 4:**
### Write Your country name and access the last 3 characters

## Answer

In [ ]:
MHR = "Pakistan"

print(MHR[5:8])

tan

##  **Task 5:**
### Write code and observe using len() function it count space or not.

## Answer

In [ ]:
MHR = "Muhammad Hamza Rashid"
print(len(MHR))

# yes it counts Spaces as well

20

##  **Task 6:**
### Write code to access the 2nd and 3rd character of your name using negative indexes.

## Answer

In [ ]:
MHr = "Muhammad Hamza Rashid"
second_char = MHR[-19]
third_char = MHR[-18]

print("2nd character:", second_char)
print("3rd character:", third_char)

##  **Task 7:**
### Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

## Answer

In [ ]:
age = 20
p_age = "Hamza age is {}"
print(p_age.format(age),p_age[3:9])

age = 21
p_age = "Momin age is {}"
print(p_age.format(age),p_age[3:9])

age = 20
p_age = "Qasim age is {}"
print(p_age.format(age),p_age[3:9])

age = 19
p_age = "Taimoor age is {}"
print(p_age.format(age),p_age[3:9])

Hamza age is 20 za age
Momin age is 21 in age
Qasim age is 20 im age
Taimoor age is 19 moor a

##  **Task 8:**
### Take input from user and  than display it like “John age is: age”.

## Answer

In [ ]:
# Take input from the user for name and age
name = input("Enter your name: ")
age = input("Enter your age: ")

# Display the input in the desired format
print("{}'s age is: {}".format(name, age))

Enter your name: Muhammad Hamza Rashid
Enter your age: 29
Muhammad Hamza Rashid's age is: 29